<h1 class="inventories_header">Inventories</h1>
<div class="inventory">
  <%= link_to "New Inventory", new_inventory_path, class: "add-inventories" %>
  <div class="inventories">
    <% @inventories.each do |inventory| %>
      <%= render inventory %>
      <div class="show-inventory">
        <%= link_to "Show this inventory", inventory, class: "action" %>
      </div>
      <% if can? :destroy, inventory %>
                <%= button_to "Remove", inventory, method: :delete, data: { confirm: "Are you sure?" }, class: "actions" %>
            <% end %>
    <% end %>
  </div>
</div>
