<section>
	<h1>Recipe 2</h1>
	<div>
		<p>Preparation Time</p>
		<p>Cooking Time</p>
		<p>Steps go here</p>
	</div>
	<div>
			<span><%= button_to "Generate shopping list" %> </span>
			<span><%= button_to "Add ingredient" %> </span>
	</div>
	<hr>
	<table>
		<thead>
			<tr>
				<th>Food</th>
				<th>Quantity</th>
				<th>Value</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<tb>Food Process</tb>
				<tb>Food Process</tb>
				<tb>Food Process</tb>
				<tb>
					<%= button_to 'Modify' %>
					<%= button_to 'Remove' %>
				</tb>
			</tr>
		</tbody>
	</table>
</section>